/*Customised CSS*/
/*body *{outline: solid 1px red;}*/

/*Global Attributes*/
body{font-family: 'Raleway',Arial,sans-serif;}
input.form-control,select.form-control,button.custom-submit{border-radius: 0;}
input[type=checkbox]{height: 2em;width: 2em;}
label,input{vertical-align: middle;}
a:hover{cursor: pointer;}

/*Global CSS3 Transitions*/
.custom-submit.border-orange, #footer a, #footer a i,.pop-d-details,.pop-d-img,a.ask-itinerary,.custom-submit.bg-skyblue,.modal-input,a.hover-bold,#myNavbar ul#signed li a,div#user-panel div.col-sm-4 ul.journey-box li a.color-white,div#user-panel div.col-sm-4 ul.journey-box li img,div#user-panel div .journey-box li:last-child,div#user-panel div .journey-box li a,button.navbar-toggle.bg-skyblue.border-transparent,button.btn.btn-default,div.modal-header button.close span.fw-1,div.row.i-vendor
{-webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out;}

/*Global Classes*/
.bg-footer
{background : -moz-linear-gradient(0% 50% 0deg,rgba(16, 77, 99, 1) 0%,rgba(12, 57, 73, 1) 20.39%,rgba(5, 26, 33, 1) 55.22%,rgba(1, 7, 9, 1) 82.98%,rgba(0, 0, 0, 1) 100%);
  background : -webkit-linear-gradient(0deg, rgba(16, 77, 99, 1) 0%, rgba(12, 57, 73, 1) 20.39%, rgba(5, 26, 33, 1) 55.22%, rgba(1, 7, 9, 1) 82.98%, rgba(0, 0, 0, 1) 100%);
  background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(16, 77, 99, 1) ),color-stop(0.2039,rgba(12, 57, 73, 1) ),color-stop(0.5522,rgba(5, 26, 33, 1) ),color-stop(0.8298,rgba(1, 7, 9, 1) ),color-stop(1,rgba(0, 0, 0, 1) ));
  background : -o-linear-gradient(0deg, rgba(16, 77, 99, 1) 0%, rgba(12, 57, 73, 1) 20.39%, rgba(5, 26, 33, 1) 55.22%, rgba(1, 7, 9, 1) 82.98%, rgba(0, 0, 0, 1) 100%);
  background : -ms-linear-gradient(0deg, rgba(16, 77, 99, 1) 0%, rgba(12, 57, 73, 1) 20.39%, rgba(5, 26, 33, 1) 55.22%, rgba(1, 7, 9, 1) 82.98%, rgba(0, 0, 0, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#104D63', endColorstr='#000000' ,GradientType=0)";
  background : linear-gradient(90deg, rgba(16, 77, 99, 1) 0%, rgba(12, 57, 73, 1) 20.39%, rgba(5, 26, 33, 1) 55.22%, rgba(1, 7, 9, 1) 82.98%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#104D63',endColorstr='#000000' , GradientType=1);}
.fs-10{font-size: 1em;}
.fs-15{font-size: 1.5em;}
.fs-20{font-size: 2em;}
.fs-25{font-size: 2.5em;}
.fs-30{font-size: 3em;}
.fs-50{font-size: 5em;}
.feature-vendor{padding: 1em 2em 2em;margin-bottom: 4em;}
a.fs-15{display: block;margin: .75em 0;padding: .75em;}
a.fs-15:hover{text-decoration: none;cursor: pointer;}
a.hover-bold:hover{font-weight: 600;text-decoration: none;color: #4abdf7;}
a.hover-bold:active{-webkit-transform: scale(1.1);transform: scale(1.1);opacity: 0;}


button.navbar-toggle.bg-skyblue.border-transparent:active{-webkit-transform: scale(1.5);transform: scale(1.5);}
button.navbar-toggle.bg-skyblue.border-transparent:hover{background: transparent;}
button.navbar-toggle.bg-skyblue.border-transparent:hover span.icon-bar{background-color: #4abdf7;}
button.navbar-toggle.bg-skyblue.border-transparent:focus{background: transparent;border: 1px solid #4abdf7;}
button.navbar-toggle.bg-skyblue.border-transparent:focus span.icon-bar{background-color: #4abdf7;}
.color-gold{color: #ffde17;}
.color-darkgrey{color: #666666;}
.bg-darkgrey{background: #666666;}
.blank-6em{height: 6em;display: block;}
.padding-l-1em{padding-left: 1em;}
.v-line-5{height: 5em;width: 1px;border: 1px solid white;margin: 0 auto;margin-bottom: -1.5em;}
.color-skyblue{color: #4abdf7;}
.color-white{color: white;}
.color-carnation{color: #f74a60;}
.color-casal{color: #29566b;}
.color-bahia{color: #80d80d;}
div.row.travelist{margin-bottom: 2em;}
div.row.travelist div.progress{margin-top: 2em;}
div.row.travelist div:last-child{text-align: center;}

/*social media colours & custom style*/
.color-facebook{color: #3b5998;}
.color-twitter{color: #4099ff;}
.color-instagram{color: #125688;}
.color-pinterest{color: #cb2027;}
.border-facebook{border-color: #3b5998;}
.border-twitter{border-color: #4099ff;}
.border-instagram{border-color: #125688;}
.border-pinterest{border-color: #cb2027;}
.form-group.soc-med{width: 100%;margin: 1em 0;}
.form-group.soc-med label{margin-right:0;width: 3em;}
.form-group.soc-med input{width: 80%;}
.form-group.soc-med label,.form-group.soc-med input{vertical-align: top;}
div.row.r-vendor > div:first-child{border-right: 1px solid #f74a60;}

.border-dotted{border: dashed 1px;}
.border-dot-lr{border-left-style: dotted;border-right-style: dotted;}
.border-1px{border-width: 1px;}
.border-carnation{border-color:#f74a60;}
.border-orange{border-color:#f7931e;}
.border-skyblue{border-color: #4abdf7;}
.border-bahia{border-color: #80d80d;}
.border-red1{border-color: #c1272d;}
.border-bottom-skyblue{border-bottom: 1px solid #4abdf7;}
.border-rad-0{border-radius: 0;}
.border-transparent{border: transparent;}
.bg-transparent{background: transparent;}
.bg-white{background: white;}
.bg-skyblue{background: #4abdf7;}
.bg-red1{background: #c1272d;}
.bg-sandy-brown{background: #EF945B;}
.bg-carnation{background: #f74a60;}
.bg-orange{background: #f7931e;}
.bg-lightgrey{background: #f6f6f6;}
.fw-1{font-weight: 100;}
.fw-2{font-weight: 200;}
.fw-3{font-weight: 300;}
.fw-4{font-weight: 400;}
.fw-5{font-weight: 500;}
.fw-6{font-weight: 600;}
.fw-7{font-weight: 700;}
.fw-8{font-weight: 800;}
.itinerary-box{margin: 1em  0;border-bottom: 1px solid #4abdf7;padding-bottom: 1.5em;}
.ask-itinerary{display:inline-block;position:absolute;margin-top:.5em;right:0;}
.pop-d-box{border: 1px solid #4abdf7;overflow: hidden;padding: 1em;margin-top: 1em;margin-bottom: 1em;}
.pop-d-details{-webkit-transform: translateY(49px);transform: translateY(49px);}
.pop-d-img{-webkit-transform: scale(1.2);transform: scale(1.2);}
.pop-d-box:hover .ask-itinerary{right: 2em;}
.pop-d-box:hover li, .pop-d-box:hover li ul,.pop-d-box a,.pop-d-box:hover li img.pop-d-img{-webkit-transform: none;transform: none;text-decoration: none;}
.journey-box{overflow: hidden;margin-top: 1em;margin-bottom: 1em;border: 1px solid white;}
.form-group.pic-upload,.form-group.pic-upload div{margin: 2em 0;padding: 0;}
.form-group.pic-upload{border-bottom: 1px dotted #666;}
div.row.i-vendor{margin: 0;padding-top: 1em;border-bottom-color: #f74a60;}
div.row.i-vendor:hover{background: #f2f2f2;}
div#user-panel li a:hover{background: #4abdf7;color: white;}
div#user-panel li.panel-vendor a:hover{background: #f74a60;color: white;}
div#user-panel li.panel-vendor div.progress{margin: 1em 0;}
div#user-panel div .journey-box li a{position: absolute;z-index: 1000;right: .3em;top: -.3em;opacity: .5;}
div#user-panel div .journey-box li a:hover{color: white;background: none;text-decoration: none;font-weight: 300;opacity: 1}
div#user-panel div .journey-box li a:focus{text-decoration: none;color: #4abdf7;}
div#user-panel div .journey-box li a:active{-webkit-transform: scale(1.25);transform: scale(1.25);opacity: 0;}
div#user-panel div .journey-box li:last-child{margin-top: -4em;z-index: 1000;position: relative;background: rgba(255,255,255,.75);padding-left: .5em;}
div#user-panel div .journey-box li img{filter: grayscale(80%);-webkit-filter: grayscale(80%);}
div#user-panel div .journey-box:hover{border: 1px solid #4abdf7;}
div#user-panel div .journey-box:hover li img{filter: grayscale(0%);-webkit-filter: grayscale(0%);}

.custom-btn{width: 100%;border-radius: 0;background: transparent;}
div#user-panel div .journey-box:hover li:last-child{color: #333;font-weight: bold;}
.modal-backdrop{background: #4abdf7;}
.custom-submit{color: white;width: 100%;font-size: 1.3em;background: #f7931e;}
.custom-submit.border-orange:hover{background: transparent;color: #f7931e;border-color: #f7931e;font-weight: 700}
.custom-submit.bg-skyblue.border-skyblue{background: #3b5998;}
.custom-submit.bg-skyblue.border-skyblue:hover{border-color: #3b5998;background: transparent;color: #3b5998;}
button.btn.btn-default.custom-btn.bg-orange.border-orange.color-white{background: #f7931e; }
button.btn.btn-default.custom-btn.bg-orange.border-orange.color-white:hover{background: transparent;color: #f7931e;border-color: #f7931e; }
button.btn.btn-default.custom-btn.border-bahia.color-bahia:hover{background: #80d80d;color: white;border-color: #80d80d;}
button.btn.btn-default.custom-btn.border-skyblue.color-skyblue:hover{background: #4abdf7;color: white;border-color: #4abdf7;}
button.btn.btn-default.custom-btn.border-carnation.bg-carnation.color-white{background: #f74a60;height: 3em;}
button.btn.btn-default.custom-btn.border-carnation.bg-carnation.color-white:hover{background: transparent;color: #f74a60;}
button.btn.btn-default.custom-btn.border-red1.bg-red1.color-white{background: #c1272d;border-color: #c1272d;}
button.btn.btn-default.custom-btn.border-red1.bg-red1.color-white:hover{background: transparent;color: #c1272d;}
button.btn.btn-default:active{-webkit-transform: scale(.75);transform: scale(.75);font-weight: 600;}
.line-breaker{margin: 2.2em 0;}
.form-group{margin-bottom: 2.2em;}
.form-caption{font-size: 1.3em;font-weight: 400;color: #666666;}
.padd-top-1{padding-top: 1em;}
.padd-1{padding: 1em;}
.padd-0{padding: 0;}
.padd-lr-1{padding-left: 1em;padding-right: 1em;}
.why-box{display: block;padding-bottom: 1em;}
.height-4{height: 4em;}
.height-3{height: 2.6em;}
.height-fill{height: 4em;}
.width-10{min-width: 12em;}
span.rounded.bg-skyblue.margin-top-m03{margin-top: -1em;}
.margin-tb-3{margin-top:1em;margin-bottom:3em;}
.margin-padd-15{margin-bottom: 1em;padding-bottom: .5em}
.margin-lr-1{margin-left: 1em;margin-right: 1em;}
.separator{width:100%;border-top:1px solid #4abdf7;display:block;margin-top:1em;}
.btn,.btn-info,.btn.info{border-radius: 0;}
.overflow-hidden{overflow: hidden;}
.post-absolute{position: absolute;}
.md-display-block{display: none;}
.section-title-box{padding: .5em;}
.empty-box{width: 8em;display: inline-block;}
.limit{
        width: 240px;
        height: 320px;
        max-height: 320px;
        overflow: hidden;
     }
    .limit img{
       width: 100%;
        height: 100%;
        position: absolute;
     }

/*Custom Placeholder*/
/*-webkit-input-placeholder{}*/


/*Custom Modal*/
.modal-content{border-radius: 0;border: none;}
div.modal-header{background: black;}
div.modal-header.bg-white{background: white;}
div.modal-header div{color: white;background: #14A0D4;padding: 1em;display: inline-block;border-left: 1em solid #0F789F;border-right: 1em solid #0F789F;margin-bottom: -15px;margin-top: -15px;}
div.modal-header img{position: absolute;right: 4em;height: 4em;margin-top: -.5em;}
div.modal-dialog div.modal-content div.modal-header button.close{color: white;opacity: 1;font-size: 2em;}
div.modal-body{margin-top: 2em;}
div.modal-header button.close span.fw-1{display: block;position: absolute;right: .25em;top:-.1em;}
div.modal-header button.close span.fw-1:hover{font-weight: 400;}

.modal-label{ margin: .65em 0 0;}
.modal-input{border: 1px solid #4abdf7;margin: 0 1em;}
.modal-input:hover,.modal-input:focus{box-shadow: 0 0 8px #4abdf7;}
.modal-input input.form-control.height-4{border: none;}
.modal-input input.form-control:hover,.modal-input input.form-control:focus{box-shadow: none;}


header.row div:nth-child(2){
    z-index: 1000; height:8em;
    background: url('../image/pita.png') no-repeat;
    background-size: contain;
    padding-top: 4px;
}

/*Navigatror Section*/
div.navbar-header img{max-height: 3em;margin-top: -1em;margin-left: -1em;}
nav.navbar{padding-bottom: -2em;margin-bottom: 0;}
#myNavbar ul#unsignin li a{color: white;}
#myNavbar ul#unsignin li:first-child{background: #FF931E;}
#myNavbar ul#unsignin li:nth-child(2){background: #EA533C;}
#myNavbar ul#unsignin li:nth-child(3){background: #C1272D;}
#myNavbar ul#signed li a{color: #4abdf7;}
#myNavbar ul#signed li a:hover{color: cadetblue;}

.form-inline.search-bar{background: #EBF8FE;margin: -4.3em 0.3em 1em;padding: 1.5em 1em 1em 1em;}
.row.fjourney{margin-bottom: 2em;}
/*Register page style*/
span.rounded{border-radius: 3em;display: inline-block;height: 2em;width:2em;padding-top: .4em;margin-bottom: -.4em;}
#header-reg div h2{padding: .5em;margin-left: -.5em;}
#header-reg{margin-bottom: 1.5em;}
#header-reg div:last-child img{margin: 1.7em 0 0 -1.1em;}

#welcome-box{
    width: 295px;height: 301px;padding: 2em;position: absolute;z-index: 1000;margin-left: 719px;
   background : -moz-radial-gradient(101.04% 2.67%, circle farthest-side, rgba(255, 255, 255, 1) 0%, rgba(16, 114, 186, 1) 100%);
  background : -webkit-radial-gradient(101.04% 2.67%, circle farthest-side, rgba(255, 255, 255, 1) 0%, rgba(16, 114, 186, 1) 100%);
  background : -webkit-gradient(radial,101.04% 2.67% ,0 , 101.04% 2.67%, 144 ,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(16, 114, 186, 1) ));
  background : -o-radial-gradient(101.04% 2.67%, circle farthest-side, rgba(255, 255, 255, 1) 0%, rgba(16, 114, 186, 1) 100%);
  background : -ms-radial-gradient(101.04% 2.67%, circle farthest-side, rgba(255, 255, 255, 1) 0%, rgba(16, 114, 186, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);"
  background : radial-gradient(101.04% 2.67%, circle farthest-side, rgba(255, 255, 255, 1) 0%, rgba(16, 114, 186, 1) 100%);
  opacity : 0.9;
  filter: alpha(opacity=90) progid:DXImageTransform.Microsoft.Alpha(opacity=90) progid:DXImageTransform.Microsoft.Alpha(Stlye=2);
}
#welcome-box h3{line-height: .5;}
div.subtitle{position: absolute;z-index: 1000;color: white;bottom: 1em;text-shadow: 0 0 4px black;width: inherit;padding: .5em;margin-bottom:-1em;background: rgba(0,0,0,.5)}
div.fav-tour{border: 1px solid #4abdf7;padding: 1em;margin:2em 0;}
li.user-line{padding-bottom: 1em;border-bottom: 1px solid #999;margin-bottom: 1em;}
li.bg-lightgrey{padding: 1em;}
div.row.comment-line{margin-bottom: 2em;padding-top: 2em;}

/*footer style*/
#upper-footer img{width: 100%;}
#footer{padding: 1em 0 .5em;}
#footer hr{margin: .5em 0 1em 0;}
#footer a{color: white;}
#footer a:hover{cursor: pointer;}
#footer a i:hover,#footer a i:hover{-webkit-transform: scale(1.1);transform: scale(1.1);}
#footer ul, #footer ul li, #footer div img{vertical-align: middle;height: 2em;display: inline-block;position: static;}

/*Table Media Screen*/
@media screen and (max-width: 1024px){
    .md-display-block{display: block;}
    .md-display-none{display: none;}
    #welcome-box{position: static;width: auto;margin: 0 4px 0 4px;}
/*
    .pop-d-box{margin: 5em;padding: 2em;zoom:1.4;}
    .pop-d-box:hover .ask-itinerary{right: 8em;}
    
*/
    .pop-d-details{-webkit-transform: translateY(63px);transform: translateY(63px);}
    div#section-slider div.flexslider{border: none;margin-left: 4px;margin-right: 4px}
    div#section-slider div.flexslider img {height: 50vw;}
}
/*Mobile Media Screen*/
@media screen and (max-width: 768px){
    #welcome-box{height: 14em;padding-top:.1em;padding-bottom: 1em;}
    #welcome-box *{font-size: 1em;margin: .75em 0;}
    form.form-inline.search-bar {padding-top: 0;padding-bottom: 0;}
    #footer,.m-txt-center{text-align: center;}
    div#header-reg.row div{height: 4em;}
    .md-text-center{text-align: center;}
    .itinerary-box{border: 1px solid #4abdf7;margin-left: 2em;margin-right: 2em;padding: 2em;}
    .itinerary-box div{margin: 1em 0 ;}
    .m-padd-tb-1{padding-top: 1em;padding-bottom: 1em;}
    .m-margin-1{margin-top: 1.5em;margin-bottom: 1.5em;}
    .m-margin-025{margin-top: .25em;margin-bottom: .25em;}
    .m-border-bottom-skyblue{border-bottom: 1px solid #4abdf7;}
    .navbar-brand{margin: .5em 0 0 .5em;}
    .navbar-brand img{height: 2.2em;}
    .navbar-inverse .navbar-collapse{border-color: #4abdf7;}
    #myNavbar ul#signed li:first-child{margin-top: -.6em;}
    #myNavbar ul#signed li{border-bottom: 1px dotted #4abdf7;}
    #myNavbar ul#signed li:last-child{border-bottom: 1px solid #4abdf7;margin-bottom: 1em;}
    #myNavbar ul#signed li:last-child a::after{font-family: 'FontAwesome';text-align: center;content: "\f141";background: #4abdf7;display: block;font-size: 1.5em;color: white;width: 2em;margin: auto;margin-bottom: -1em}
    #myNavbar ul#signed li a:hover{background: #ebf4fc;color: #4abdf7;}
    #myNavbar ul#signed li a:active{font-weight: 700;}
    div#user-panel div:first-child{margin-top: -1em;}
    div#user-panel div:first-child li{border-top: 1px dotted #4abdf7;}
    div#user-panel div:first-child li a{margin: 0 auto;}
/*    .pop-d-box{margin:2em 0;padding: 0;zoom:1;}*/
    .pop-d-box:hover .ask-itinerary{right: 2em;}
    .pop-d-details{-webkit-transform: translateY(49px);transform: translateY(49px);}
    #footer{margin-bottom: 0;padding-bottom: 2em;}
    .form-group.soc-med input{width: 100%;}
    div.row.r-vendor > div:first-child{border-right: none;}
    .custom-btn{margin: .5em 0;}
    div#section-slider div.flexslider div.subtitle{font-size: .75em;}
    #myNavbar ul {margin-top:0;margin-bottom: 0;}
    div.modal-header img{width: auto;max-width: 40vw;height: auto;}
    div.modal-header div.modal-title{font-size: 1em}
    div#user-panel li.panel-vendor div.progress{height: 2em;}
    div#user-panel li.panel-vendor div.progress div.progress-bar{margin: 0 auto;font-size: 1.2em;padding-top: .3em;}
    div.row.i-vendor{padding: 2em 1em 1em;margin-bottom: 2em;}
    div.row.i-vendor div{font-size: 1.5em;border-bottom: 1px dotted #f74a60;padding: .5em 0 ;margin:0;}
    div.row.i-vendor div:first-child,div.row.i-vendor div:nth-child(2),div.row.i-vendor div:last-child{border: none;}
    div.row.comment-line{border: 1px solid #f74a60;margin: 2em .5em; padding-bottom: 1em}
    div.row.comment-line div a img{margin-bottom: 1em;}
    div.row.travelist{border: 1px solid #666; }
}