/*body *{outline: 1px solid red;}*/

/*Customised Bootstrap*/
.navbar{border-radius: 0;border: none;}
.icon-bar{background: white;}
.navbar-brand{padding: 0;}
.navbar-brand span img{-webkit-filter: drop-shadow(0px 8px 8px #1a5a80);filter: drop-shadow(0px 8px 8px #1a5a80);}
.navbar-brand:hover > img{-webkit-filter: sepia(100%);filter: sepia(100%);}

/*Error Message Style*/
.err-msg,.err-msg-o,.err-msg-alert,.success-msg-info{font-size:16px;font-weight: 400;border-radius: .25em;}
.err-msg,.err-msg-alert{color: white;background: #c1272d;width: auto;}
.err-msg-o{color: red;border: 1px solid red;background-color: white;}
.err-msg,.err-msg-o{padding: .25em 1em;display: inline-block;position: relative;float: right;margin-right: 8px;margin-top: -38px}
.err-msg-alert,.success-msg-info{padding: .5em 1em;}
.err-msg-alert:before{font-family: fontawesome;content: "\f071";padding-right: 1em;}

/*Success Message Style*/
.success-msg,.success-msg-info{color: white;background: yellowgreen;width: auto;font-size:16px;}
.success-msg-info:before{font-family: fontawesome; content: "\f058";padding-right: 1em;}
.success-msg-o{color: yellowgreen;border: 1px solid yellowgreen;background-color: white;}
.success-msg,.success-msg-o{font-size:16px;font-weight: 400;padding: .25em 1em;border-radius: .25em;display: inline-block;}

/*Global Attributes*/
html,body{font-family: 'Josefin sans','Arial',sans-serif;}
section{min-height: 768px;}
a:hover{cursor: pointer;}
a:focus,a.md-w-100:hover,.pop-box a:hover,.user-panel ul li.p-05:hover a,.load-more div a:hover,a.scrollToTop:hover,.iti-box a:hover{text-decoration: none;}
p,.md-w-100,.pop-box a,.user-panel ul li.p-05,.iti-box,form#edit-profile label{font-size: 1.25em;}
input{border-style: solid;border-width: 1px;}

/*Global Transitions*/
a, .navbar-brand img,.feat-box,.feature-no,.feat-box li hr,.feat-box li p,.pop-box,.pop-box a,.load-more div a, .ask-it, .ask-it a,.pop-box span.badge,.inner-box,#SearchBar button,#modals button.close,.modal-input,.modal-body button,li.j-title,li.j-title a,.user-panel button.btn,.fav-wrapper li:first-child,.iti-box,.vendor-album li div,.vendor-album li div a,.vendor-album,.rev-box,.tour-list
{-webkit-transition: all .25s ease-in-out;transition: all .25s ease-in-out;}

/*Global Colours*/
.c-white{color: white;}
.c-eee{color: #eee;}
.c-ccc{color: #ccc;}
.c-dodger-blue{color: #33B4FF;}
.c-tree-poppy{color: #FF931E;}
.c-cinnabar{color: #ea533c;}
.c-tall-poppy{color: #c1272d;}
.c-lightgrey{color: #999999;}
.c-midgrey{color: #666666;}
.c-darkgrey{color: #333333;}
.c-java{color: #20b1c5;}
.c-facebook{color: #3b5998;}
.c-ygreen{color: yellowgreen;}
.c-gold{color: gold;}
.c-persimmon{color: #EC5800;}
.c-tomato{color: red;}
.c-twitter{color: #4099ff;}
.c-instagram{color: #125688;}
.c-pinterest{color: #cb2027;}

/*Global BG Colours*/
.bg-white{background: white;}
.bg-eee{background: #eee;}
.bg-ccc{background: #ccc;}
.bg-dodger-blue{background: #33B4FF;}
.bg-tree-poppy{background: #FF931E;}
.bg-cinnabar{background: #ea533c;}
.bg-tall-poppy{background: #c1272d;}
.bg-lightgrey{background: #999999;}
.bg-midgrey{background: #666666;}
.bg-darkgrey{background: #333333;}
.bg-java{background: #20b1c5;}
.bg-facebook{background: #3b5998;}
.bg-ygreen{background: yellowgreen;}
.bg-gold{background: gold;}
.bg-persimmon{background: #EC5800;}
.bg-tomato{background: #FF6347;}
.bg-twitter{background: #4099ff;}
.bg-instagram{background: #125688;}
.bg-pinterest{background: #cb2027;}

/*Global Border Colours*/
.bc-white{border-color: white;}
.bc-dodger-blue{border-color: #33B4FF;}
.bc-tree-poppy{border-color: #FF931E;}
.bc-cinnabar{border-color: #ea533c;}
.bc-tall-poppy{border-color: #c1272d;}
.bc-lightgrey{border-color: #999999;}
.bc-midgrey{border-color: #666666;}
.bc-darkgrey{border-color: #333333;}
.bc-java{border-color: #20b1c5;}
.bc-facebook{border-color: #3b5998;}
.bc-ygreen{border-color: yellowgreen;}
.bc-gold{border-color: gold;}
.bc-persimmon{border-color: #EC5800;}
.bc-tomato{border-color: #FF6347;}
.bc-twitter{border-color: #4099ff;}
.bc-instagram{border-color: #125688;}
.bc-pinterest{border-color: #cb2027;}

/*Another border control*/
.b-none{border: none;}
.bc-transparent{border-color: transparent;}

/*Global Classes*/
.para-quote{margin-left: 1em;margin-right: 1em;}
.para-quote::before{content: open-quote;font-size: 2em;}
.para-quote::after{content: close-quote;font-size: 2em;}
.w-wrap{word-wrap: break-word;text-overflow: ellipsis;overflow: hidden;}
.br-0{border-radius: 0;}
.m-0-auto{margin: 0 auto;}
.m-0{margin: 0;}
.mb-0{margin-bottom: 0;}
.mt-0{margin-top: 0;}
.ml-0{margin-left: 0;}
.mr-0{margin-right: 0;}
.ml-1{margin-left: 1em;}
.mt-1{margin-top: 1em;}
.mb-1{margin-bottom: 1em;}
.mr-1{margin-right: 1em;}
.m-1{margin: 1em;}
.p-0{padding: 0;}
.p-1{padding: 1em;}
.p-05{padding: 0.5em;}
.of-visible{overflow: visible;}
.of-hidden{overflow: hidden;}
.p-absolute{position: absolute;}
.zi-1000{z-index: 1000;}
.zi-m1{z-index: -1;}
.va-middle{vertical-align: middle;}
.feature-no{display: inline-block;width: 2em;height: 2em;text-align: center;padding-top:.4em;}
.feat-box:hover span.feature-no{border-radius: 1em;background: #333;margin-right: 1em;}
.feat-box:hover li p,.feat-box:hover li h3{color: #333;}
.feat-box:hover li hr{border-color: #333;}
.d-none{display: none;}
.space-1{height: 1em;}
.space-2{height: 2em;}
.md-w-100{border: 1px solid transparent;padding: .5em 1em;}
a.md-w-100:hover,.iti-box:hover{box-shadow: 0 2px 4px #999;color: #333;}
.fs-sm{font-size: .8em;font-weight: 200;}
.fs-md{font-size: 1em;font-weight: 200;}
.wh-100{width: 100%;height: 100%;}
.md-block{display: none;}
.f-left.ml-1{color: rgba(0,0,0,.66);}
.round-box{border-radius: 100%;}
.wh-3{width: 1.5em;height: 1.5em;display: block;margin: auto;display: flex;align-items: center;}
div.dropdown a:hover{text-decoration: none;}


/*pop-box style*/
.pop-box{background: white;overflow: hidden;}
.pop-box:hover{box-shadow: inset 0 0 8px #333;}
.pop-box:hover .ask-it{-webkit-transform: none;transform: none;}
.b-lr-dotted{border-left: 1px dotted;border-right: 1px dotted;border-color: #999;}
.pop-box img{width: 100%;height: 100%;margin-bottom: -8.89em;}
.pop-box a:hover{color: white;}
.inner-box{position: relative;background: rgba(0,0,0,.75);opacity: 0;}
.pop-box:hover .inner-box{opacity: 1}
.inner-box span.badge{font-size: 70%;width:100%;padding: .3em;border: 1px solid;border-radius: 4px;font-weight: 400;background: transparent;}
.pop-box span.badge:hover{color:white;}
.pop-box span.badge.bg-tree-poppy:hover{background: #FF931E;border-color: #FF931E;}
.pop-box span.badge.bg-cinnabar:hover{background: #ea533c;border-color: #ea533c;}
.pop-box span.badge.bg-java:hover{background: #20b1c5;border-color: #20b1c5;}
.pop-box span.badge:active{background: darkslategray;color: white;-webkit-transform: scale(.8);transform: scale(.8);}

/*Itinerary Details style*/
div.iti-details > div{margin:0;padding:0;}
div.iti-details > div div:first-child{color:white;padding: 0.5em;}
div.iti-details > div div:last-child{padding: .75em;color: #666;}

div.iti-details-2{margin: 0;border: 1px solid #eee;border-radius: .25em;}
div.iti-details-2 > div{padding:0;}
div.iti-details-2 > div div{padding: 0.25em;}
div.iti-details-2 > div:last-child{color: #666;font-size: 1.25em;}

/*Section style*/
.section-title{color:white;padding: 0.5em;}
.section-title span{background:white;display:inline-block;padding: 0 .5em;}
.s-title{position:relative;top:-3.5em;z-index:-1;margin-bottom: -1em;}
.section-title.c-java{color: #20b1c5;}
.section-title.c-dodger-blue{color: #33B4FF;}
.load-more div a{font-weight: 200;font-size: 1.5em;padding: 0.5em 1.7em;border-radius: 8px;}
.load-more div a:hover{background: #33B4FF;color: white;}
.load-more div a:focus{color: #33B4FF;}
.load-more div a:active{-webkit-transform: scale(.75);transform: scale(.75);}
.row div .pop-box{margin-top: 2em;margin-bottom: 2em;}
.ask-it{padding: 1em;background: rgba(0,0,0,.5);margin-bottom: -3.7em;z-index: 99;position: relative;text-align: right;-webkit-transform:translateY(-5em);transform: translateY(-5em);}
.ask-it:hover{background: rgba(0,0,0,.75);}
.ask-it a{color: white;border: 1px solid white;padding: .25em 1em;border-radius: .25em;font-size: 90%;}
.ask-it a:hover{color: #333;font-weight: 400;background: white;}

/*Font-Weight Classes*/
.fw-100{font-weight: 100;}
.fw-200{font-weight: 200;}
.fw-300{font-weight: 300;}
.fw-400{font-weight: 400;}
.fw-500{font-weight: 500;}
.fw-600{font-weight: 600;}
.fw-700{font-weight: 700;}

/*Slider Style*/
#section-slider{height: 334px;}

/*Season Section*/
div.season{height: 4em;}

.bs-dot{border-style: dotted;}
.bs-dash{border-style: dashed;}

/*SearchBar style*/
#SearchBar{height: 4.4em;background: rgb(250,250,250);}
#SearchBar label.control-label:first-child{font-weight: 700;font-size: 1.5em;}
#sub-logo{position: absolute;max-height: 3em;top: 0;margin-left: -8em;}
#SearchBar > div{margin: 1em 0;}
/*#SearchBar div:last-child div{border-right: 1px dotted #20b1c5; }*/
/*#SearchBar div:last-child div:last-child{border: none;}*/
#SearchBar div input{width: 45.3%;}
#SearchBar div select{width: 100%;}
#SearchBar input,#SearchBar select{border-radius: 0;}
#SearchBar button:hover{background: #20b1c5;color: rgba(0,0,0,.5);}

/*User-Panel*/
.user-panel ul li.p-05{border-bottom: 1px dotted #eee;}
.user-panel ul li.p-05:hover{background: #eee;}
.user-panel ul li.p-05:hover a{color: #333;}
.user-panel ul li.p-05.active.vendor a{color: #EC5800;}
.user-panel ul li.p-05.active a{color: #33B4FF;font-weight: 700;}
.user-panel.vendor ul li.p-05:last-child{border-bottom: none;}
.user-panel.vendor ul li.p-05:last-child:hover{background: transparent;}
.user-panel .pop-wrapper li img{margin: 0;margin-bottom: -3.8em;}
.j-title{background: rgba(0,0,0,.75);padding: .5em 1em;position: relative;color:white;}
.j-title a{color: white;font-weight: 400;}
.j-title span{border: 1px solid transparent;}
.j-title span:hover{background: transparent;border-color: white;}
.user-panel .pop-wrapper ul li.ask-it a{padding: .25em .5em;}
.user-panel .pop-wrapper ul:hover li.j-title{background: rgba(0,0,0,.75);}
.user-panel .pop-wrapper ul:hover li.j-title a{color: white;}
.user-panel button.btn.btn-default{width: 100%;font-size: 1.25em;}
.user-panel button.bg-java:hover{border-color: #20b1c5;color: #20b1c5;background: white;}
.user-panel button.bg-cinnabar:hover{border-color: #ea533c;color: #ea533c;background: white;}
.user-panel button.bg-tall-poppy:hover{border-color: #c1272d;color: #c1272d;background: white;}
.user-panel button.btn:active{-webkit-transform: scale(.9);transform: scale(.9);}
.fav-wrapper{perspective: 32em;}
.fav-wrapper li:first-child{background: rgba(0,0,0,.5);padding: .5em 1em;position: relative;transform: rotateX(-115deg);transform-origin: top;z-index: 1000;}
.fav-wrapper li:first-child a{color: white;}
.fav-wrapper li img{position: relative;margin-bottom: -10em;margin-top: -2.8em;}
.fav-wrapper li.j-title:last-child{-webkit-transform: translateX(-100%);padding: 1em;transform: translateX(-100%);padding: 1em;}
.fav-wrapper li.j-title:nth-child(3){-webkit-transform: translateY(125%);transform: translateY(125%);}
.fav-wrapper li.j-title:nth-child(4){-webkit-transform: translateX(100%);transform: translateX(100%);}
.fav-wrapper:hover li:first-child,.fav-wrapper:hover li.j-title:last-child,.fav-wrapper:hover li.j-title:nth-child(3),.fav-wrapper:hover li.j-title:nth-child(4){-webkit-transform: none;transform: none;}
.f-left{float: left;}
.iti-box{border-bottom: 1px solid #eee;margin: 0;}
.iti-box a{background: transparent;margin: 0 auto;}
.iti-box a:hover{color: white;padding: 0.1em 1em;border-radius: .25em;}
.iti-box a.bg-java:hover{background: #20b1c5;}
.iti-box a.bg-cinnabar:hover{background: #ea533c;}
.iti-box a.bg-tall-poppy:hover{background: #c1272d;}
.iti-box div{height: 3em;display:flex;align-items: center;}
.iti-box span{align-self: center;margin: auto}
.iti-box div:first-child{font-variant: small-caps;text-align: left;}
.iti-box:nth-child(3){border-top: 1px solid #eee;margin-top: 1em;}
.iti-box:nth-last-child(2){;margin-bottom: 2em;}
.iti-box.vendor div {overflow: hidden;height: 5em;}
.iti-box.vendor div img{width: 100%;height: 100%;padding: .75em;}
.md-w-100{width: 100%;display: block;text-align: center;}
.venlist{margin: 0;border-radius: 4px;overflow: hidden;background: #f9f9f9;border: 1px solid #eee;margin-bottom: 1em}
.venlist > div{padding: 1em 2em 2em;overflow: hidden;overflow: hidden;height: 3.5em;}
.tour-list{padding: 1em;border: 1px solid #eee;margin: 0;margin-bottom: -1px;}
.tour-list:hover{background: #f8f8f8;}

/*Vendor Album*/
.vendor-album{overflow: hidden;-webkit-filter:grayscale(.5);filter:grayscale(.5);margin-bottom: 3em;}
.vendor-album:hover{-webkit-transform: translateY(-.5em);transform: translateY(-.5em);-webkit-filter:grayscale(0);filter:grayscale(0);}
.vendor-album li:last-child{margin-top: -3.4em;position: relative;}
.vendor-album li div{background: rgba(0,0,0,.5);}
.vendor-album.public li div{background: rgba(32, 177, 197,.75);}
.vendor-album.public li div a{text-shadow: 0 1px 4px #333;}
.vendor-album.public li div:hover a{text-shadow:none;}
.vendor-album li div:hover{background: #20b1c5;}
.vendor-album li div a:focus,.vendor-album li div a:hover{color: white;outline: none;}
.vendor-album li div a:hover{text-decoration: none;}



/*Footer Styles*/
footer div.container div ul li{vertical-align: top;}
footer div.row{padding: 1em 0;}
footer div.row:last-child div ul{padding-top: 1em;}

/*Scroll-to-Top Styles*/
a.scrollToTop{position: fixed;color: #ccc;right: 5%;bottom: 2.5%;z-index: 1000;display: none;}
a.scrollToTop:hover{color: #666;}
a.scrollToTop:active{-webkit-transform: scale(2);transform: scale(2);opacity: 0;}

/*Modals Styles*/
#modals div{overflow: hidden;}
#modals div.modal-content{border: none;}
#modals div.modal-dialog{box-shadow: 0 0 64px #333;}
#modals div.modal-body,#modals div.modal-footer{font-size: 1.5em;color: #333;}
#modals div.modal-header{border-bottom: none;}
#modals div.modal-header img{height: auto;margin: auto;}
.modal-input{border: 1px solid #33B4FF;margin: .15em.7em;padding: .25em 0;}
.modal-input:hover,.modal-input:focus{box-shadow: 0 0 4px #33B4FF;}
.modal-input input,.modal-input input:focus{border: none;outline: none;box-shadow: none;}
.modal-input input[placeholder]{font-size: .9em;}
div.modal-content,div.modal-content input{border-radius: 0;}
.mod-ab{position: absolute;left: 1.5em;margin-top: .4em;font-weight: 400;}
#modals div.modal-body button{width: 100%;font-size: 1em;color: white;border-color: transparent;}
#modals button.close,#modals-vendor button.close{font-family: 'josefin sans';font-weight: 200;font-size: 4em;color: #33B4FF;opacity: 1;margin-top: -.5em;}
#modals button.close:hover{color: #c1272d;}
#modals div.modal-body button.bg-cinnabar:hover{background: transparent;color: #ea533c;border-color: #ea533c;}
#modals div.modal-body button.bg-facebook:hover{background: transparent;color: #3b5998;border-color: #3b5998;}
.min-title hr{margin-bottom: 0;}
.min-title div{font-size:1.25em;position:relative;margin-top:-.75em}
.min-title span{padding: .25em 1em;font-weight: 700;}
#modmake{z-index: 3000;}
#commento .comments{border: 1px solid #20b1c5;display: flex;align-items: center;margin: auto;padding: .5em 0;}
#commento .comments{margin: 2em 1em;}
#commento .comments img{height: 5em;width: 5em;border-radius: 100%;margin: auto}
#commento .comments p{border: 1px solid #;height:4em;padding: 1em;margin: 0;}
#commento div.c-java{margin: -6px -2px -5px 0;}
#commento div.stik.bg-java{height: 2em;width: 1px;}
.rev-box{border: 1px solid #eee;margin: 0;margin-bottom: 2em;padding: 1em 0;background: white;box-shadow: 0 4px 8px #ccc;}
.rev-box:hover{box-shadow: 0 4px 8px #999;}
.rev-box div img{border-radius: 100%;height: 5em;width:5em; margin: auto;}

.chk-flag{display: none;}
.chk-flag:checked ~ label{color: skyblue;}
input.chk-flag ~ label:hover{cursor: pointer;}

/*Vendor Public Page*/
.public-profile{border-radius: 100%;overflow: hidden;margin: auto;width: 10em;height: 10em;}
.public-profile img{height: 100%;width: 100%;}
.vendor-header{padding: 2em 1em;margin: 0;background: #20b1c5}
.vendor-header a{padding: .25em 1em;border-radius: 2em;}
.vendor-header a:hover{color: white;text-decoration: none;background: white;color: #20b1c5;}
.ui-slider .ui-slider-range{border-radius: 0;}

/*itinerary search bar*/
/*.opt-searchbar{background: #f6f6f6;}*/
.opt-searchbar input,.opt-searchbar select{width: 100%;}
#iti-search div button:hover{color: yellowgreen; border-color: yellowgreen;background: white;}

/*Mobile Media Screen*/
@media screen and (max-width: 768px){
    header{margin-bottom: -1.4em;}
    header nav{z-index: 1000;box-shadow: 0 4px 4px rgba(0,0,0,.25);}
    #Navi ul{margin-top: 0;margin-bottom: 0;background: white;}
    #Navi ul a{color: #666;border-bottom: 1px dotted #999;background: white;font-size: 1.2em;}
    #Navi ul li a.bg-cinnabar{color: #ea533c;}
    #Navi ul li a.bg-tree-poppy{color: #FF931E;}
    #Navi ul li a.bg-tall-poppy{color: #c1272d;}
    #section-slider{margin: 0;padding: 0;height: auto;margin-bottom: -4.3em;}
    #sb-wrapper,#sb-wrapper div{margin: 0;padding: 0;}
    #SearchBar{margin: 0;padding-top: .5em;padding-bottom: .5em;height: auto;}
    #SearchBar div{margin: 1em;border: none;}
    #SearchBar div input{width: 100%;}
    #SearchBar div:last-child div{border-right:none;}
    .section-title{font-size: 1.6em;}
    .section-title span{padding: .35em;}
    .load-more div a{background: #33B4FF;color: white;border: 1px solid transparent;}
    .load-more div a:hover{color: #33B4FF;background: white;border: 1px solid #33B4FF;}
    .md-center{text-align: center;}
    .md-none{display: none;}
    .md-block{display: block;}
    .navbar-brand{padding: .3em 1em;}
    .navbar-brand img{height: 2em;position: relative;filter:grayscale(100%) invert(100%);-webkit-filter:brightness(3);}
    .user-panel input.form-control{margin: 1em 0;}
    .iti-box{margin: 0 0 2em;border: 1px solid #20b1c5;}
    .iti-box div{border-bottom: 1px dotted #20b1c5;margin: 0 1em;}
    .iti-box div:first-child{background: #20b1c5;padding: 0;margin: 0;}
    .iti-box div:first-child a{color: white;}
    .iti-box div:last-child{border: none;}
    .iti-box.vendor div{height: 3em;}
    .iti-box.vendor div.img-vendor{height: 12em;padding: 0;margin: 0}
    .iti-box.vendor div:nth-child(4){margin-right:0;}
    .iti-box.vendor div:last-child,.iti-box.vendor div:nth-last-child(2){margin: 0;border: none;}
    .iti-box.vendor div img{padding: 0;}
    
    /*Edit Profile*/
    #edit-profile label,#edit-profile input{margin: 0;}
    #edit-profile hr.bc-lightgrey{margin: 0 0 1.5em;}
    #edit-profile div.form-group input,#edit-profile div.form-group select{margin-bottom: .5em}
    #edit-profile button{margin: 0 0 1em ;padding: .75em;}
    
    .venlist{margin-bottom: 2em;box-shadow: 0 4px 4px #ccc}
    .ven-title{font-size: 1.1em;font-weight: 700}
    .venlist > div {border-top: 1px solid #eee;}
    .tour-list{border-color: #ccc;border-radius: 8px;margin-bottom: 2em;}
    .tour-list div {border-bottom: 1px dashed #ccc;margin: .75em 0;padding-bottom: .25em}
    .tour-list:hover{background: white;box-shadow: 0 0 8px #ccc;border-color: cadetblue;}
    
    #iti-search div.form-group{margin-bottom: 2em;}
    .vendor-contact div{padding-top: .5em;padding-bottom: .5em;text-align: left;}
    
    /*ScrolltoTop*/
    a.scrollToTop{color: white;box-shadow: 0 0 4px black;padding: .5em;right: 0;background: rgba(0,0,0,.75);}
    a.scrollToTop:hover{color: black;background: rgba(255,255,255,.75);}

    .err-msg,.err-msg-o{margin-top: -2.9em;}
    
    /*Modals*/
    .modal-input div{padding: 0;padding-left: .5em}
    .modal-input div label{font-size: .75em;}
    
    .ui-slider .ui-slider-range{top: -1em;}
}